<app-previous-next-navigation></app-previous-next-navigation>
<iframe width="850" height="478.13" src="https://www.youtube.com/embed/DQzVaK_gluM?si=5jJJlsyRJFa2gXBu"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
</iframe>
<p>
  Arkanoid is my first game, that I made for a university project. The player controls a paddle with arrow keys (left &
  right) and can release the ball using the s key. The goal is to clear the playable area of all destructible blocks and
  not to let the ball fall below the paddle.
</p>
<p>
  Sometimes the blocks drop a random reward upon destruction, which grants one of the following effects:
</p>
<ul>
  <li><i>Sticky Paddle</i>, the ball glues to the paddle upon contact. Can be released with the s key</li>
  <li><i>Wide Paddle</i>, makes the paddle wider</li>
  <li><i>Shooting Paddle</i>, makes it possible to shoot projectiles from the paddle using the f key.</li>
  <li><i>Faster Balls</i>, makes all balls faster</li>
  <li><i>Slower Balls</i>, makes all balls slower</li>
  <li><i>Additional Balls</i>, creates two additional balls to destroy blocks with</li>
</ul>
<p>
  Slightly above the paddle, there are two spawn points for wisps, which change balls' velocity direction upon
  collision. The game features a scoreboard for the best players. It is possible to create new levels using notepad. The
  blocks correspond to letters A, B, C, D, E, X, while "." (the dot) marks an empty space.
</p>
<p>
  The game can be downloaded from <a href="https://github.com/Ilethas/Arkanoid">https://github.com/Ilethas/Arkanoid</a>
</p>
<app-previous-next-navigation></app-previous-next-navigation>
