<div class="container prioritize-right align-start">
  <div class="about-decoration">
    <img src="./assets/About%20decoration.jpg" alt="About decoration"/>
  </div>
  <div>
    <p>
      Computer games have always been an interest of mine and since I can remember, I was always curious of their inner
      workings. I am particularly fond of RPG and RTS genre, although I enjoy playing and working on other genres.
    </p>
    <p>My game programming experience includes:</p>
    <ul>
      <li><a routerLink="/portfolio/rpg-inventory-system">Unreal Engine 4</a></li>
      <li>
        A bit of Unity (<a routerLink="/portfolio/platformer">Platformer</a> &
        <a routerLink="/portfolio/small-arkanoid">Arkanoid</a>)
      </li>
      <li><a routerLink="/portfolio/starcraft-2-protoss-bot">Game AI programming</a> for StarCraft II</li>
      <li>Incorporating multiplayer elements into gameplay</li>
    </ul>
    <p>I've worked with the following programming languages:</p>
    <div style="display: flex;">
      <ul>
        <li>C++</li>
        <li>C#</li>
        <li>Python</li>
        <li>Lua</li>
        <li>GLSL</li>
      </ul>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
      </ul>
    </div>
    <p><b>Other experience:</b></p>
    <ul>
      <li>
        <a href="https://angular.io/">Angular</a> framework to build websites. You can view the code of this
        site on <a href="https://github.com/Ilethas/Homepage">https://github.com/Ilethas/Homepage</a>.
      </li>
      <li>I had <i>some</i> contact with <a href="https://react.dev/">React</a> framework</li>
      <li><a href="https://www.qt.io/">Qt framework</a> for development of GUI applications using C++ and QML</li>
      <li>
        I can utilize Python tools, such as <a href="https://www.tensorflow.org/">Tensorflow</a>, to program neural
        networks. An example of my work is documented in the following article:
        <p class="article">
          Kurowski, M.; Sroczyński, A.; Bogdanis, G.; Czyżewski, A. An Automated Method for Biometric
          Handwritten Signature Authentication Employing Neural Networks. <i>Electronics</i>&nbsp;<b>2021</b>, <i>10</i>,
          456.
          <a href="https://doi.org/10.3390/electronics10040456">https://doi.org/10.3390/electronics10040456</a>
        </p>
        I also used reinforcement learning to train LSTM-based neural network controlling units in StarCraft II game
      </li>
      <li>
        Used Python packages such as TensorFlow, NumPy, SciPy, scikit-learn, Matplotlib and Plotly for machine learning
        and data visualization
      </li>
      <li>Used <a href="https://www.antlr.org/">ANTLR</a> to write some simple parsers</li>
      <li>Embedding Lua interpreter in applications (<a href="https://github.com/Ilethas/Notifier">example project</a>).
        Programming languages and their design are also an interest of mine.
      </li>
      <li>
        <a href="https://cmake.org/">CMake</a> meta build system and <a href="https://git-scm.com/">Git</a> version
        control system
      </li>
    </ul>
    <p><b>Hobbies:</b></p>
    <ul>
      <li>
        I enjoy modding games. My mods for the Knights of the Old Republic series are available on <a
        href="https://www.nexusmods.com/users/73693688?tab=user+files">Nexus Mods</a>
      </li>
      <li>RPG games and Fantasy!</li>
    </ul>
    <div class="container align-start about-info">
      <div>
        <h3>Education</h3>
        <p>M.Sc. in Computer Science</p>
        <p class="skip-indent">Gdańsk University of Technology</p>
        <h3>Contact</h3>
        <p><a href="mailto:mkkurowski@gmail.com">mkkurowski@gmail.com</a></p>
      </div>
      <div>
        <h3>GitHub page</h3>
        <p><a href="https://github.com/Ilethas">https://github.com/Ilethas</a></p>
      </div>
    </div>
  </div>
</div>
