<app-previous-next-navigation></app-previous-next-navigation>
<div class="container align-start">
  <div>
    <iframe width="850" height="478.13" src="https://www.youtube.com/embed/C_Y8z0Wge88?si=yUORuOf-FhHlHzc8"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="850" height="478.13" src="https://www.youtube.com/embed/gFOIngFyskk?si=ALy19bC4ekpqBsgg"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
</div>
<p>
  The Platformer project consists of two levels – procedural and traditional. In the procedural level, the game randomly
  generates platforms using predefined prefabs, in opposition to the traditional level, in which everything is laid out
  manually. Each platform has collectible entities, such as gems, lives and sometimes keys required to progress the
  level. Platforms may also have enemies patrolling them.
</p>
<p>
  In the procedural level, the player is forced to always move to the right and can only jump or activate a special
  attack that launches a fireball to get rid of enemies that may be nearby.
</p>
<app-previous-next-navigation></app-previous-next-navigation>
