<app-previous-next-navigation></app-previous-next-navigation>
<iframe width="850" height="478.13" src="https://www.youtube.com/embed/qBbPpgTBdjY?si=a0bJGpnMxdPkjxKa"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
</iframe>
<p>
  This project serves as a demo application that shows how to create various effects using OpenGL. It allows loading a
  3D scene that is set up specifically for some effect. The user can then tweak various parameters, like for example
  exposure for HDR effect.
</p>
<p>Every scene allows for its specialized operations, as well as basic ones, like:</p>
<ul>
  <li>Creating lights of different types (Point, Directional, Spot)</li>
  <li>Modifying their properties (Position, Direction, Brightness, Attenuation Radius, Color, etc.)</li>
</ul>
<p>
  Each scene has a customized "Description" tab that explains how the particular graphics effect works. A total of 8
  OpenGL techniques are implemented:
</p>
<ol>
  <li>Lighting Models</li>
  <li>Normal Mapping</li>
  <li>Gamma Correction</li>
  <li>HDR</li>
  <li>Bloom</li>
  <li>Toon Outline Shader</li>
  <li>Gerstner Waves</li>
  <li>Stencil Buffer – Selecting Objects</li>
</ol>
<p>
  The code for the project is available on <a href="https://github.com/Ilethas/OpenGL-Tutorial">https://github.com/Ilethas/OpenGL-Tutorial</a>
</p>
<app-previous-next-navigation></app-previous-next-navigation>
