<app-previous-next-navigation></app-previous-next-navigation>
<iframe width="850" height="478.13" src="https://www.youtube.com/embed/KwqNA68rI_o?si=BRuqsgn_svZR2_Mq"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
</iframe>
<p>
  In this game, players spawn on a randomly generated map. Each player can control their spaceship's engines using arrow
  keys, ship's direction with mouse and fire missiles by pressing space bar. The goal is to destroy every other
  spaceship in the game.
</p>
<p>
  The game is made with in C++ using SFML library. Multiplayer implementation doesn't support local client prediction.
  The code is available on <a href="https://github.com/Ilethas/MultiplayerSpaceShooter">https://github.com/Ilethas/MultiplayerSpaceShooter</a>
</p>
<app-previous-next-navigation></app-previous-next-navigation>
