<app-previous-next-navigation></app-previous-next-navigation>
<iframe width="850" height="478.13" src="https://www.youtube.com/embed/Kosp9yp7YAY?si=y7cmf7_m0QJMSOx0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
</iframe>
<p>
  This project is a minimal implementation of the Arkanoid game with multiplayer. In the game, at most 2 players can
  work together. The goal is to use the ball to destroy all the presents and not to let the ball fall out of the
  playable area.
</p>
<p>Multiplayer implementation doesn't feature local client predition.</p>
<p>Code for the game is available on <a href="https://github.com/Ilethas/SmallArkanoid">https://github.com/Ilethas/SmallArkanoid</a></p>
<app-previous-next-navigation></app-previous-next-navigation>
