<app-previous-next-navigation></app-previous-next-navigation>
<img src="./assets/thumbnails/Bubbles.png" width="850" alt="Bubbles game"/>
<p>
  A simple game made with Unity 2021.3.0f1 LTS in order to test my ability to create games. The game is turn based and
  in each turn, the player can select a bubble and move it to an unoccupied cell, provided that there exists a path from
  the bubble to the destination point. Every turn, additional bubbles are spawned, and their future spawn locations are
  shown as a colored frame around the cells.
</p>
<p>
  If the player creates a line of the appropriate length with single-colored bubbles, they disappear and increase the
  player's score. The goal is to acquire the highest score possible before the board fills up with bubbles. Each removed
  bubble gives the player 1 point.
</p>
<p>
  For every 50 points the player scores, the amount of colors a bubble can have increases by 1.
</p>
<p>
  The code for the project is available on <a href="https://github.com/Ilethas/Bubbles">https://github.com/Ilethas/Bubbles</a>
</p>
<app-previous-next-navigation></app-previous-next-navigation>
